HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Dependencias de Node/React
node_modules/

# Dependencias de Maven/Gradle
target/
.gradle/

# Archivos de construcción
build/
dist/

# Archivos temporales
*.log
*.tmp
*.bak

# Archivos del sistema operativo
.DS_Store        # macOS
Thumbs.db        # Windows

# Archivos de entorno (variables sensibles)
.env